.vscode/
vendor/
spark-operator
.idea/
**/*.iml
sparkctl/sparkctl
spark-on-k8s-operator
sparkctl/sparkctl-linux-amd64
sparkctl/sparkctl-darwin-amd64

# D2iQ related
admin.conf
kubeconfig
kuttl-test.xml
tmp.checksum
docker-operator
docker-spark
docker-builder
docker-spark-env
artifacts/*
